@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;

}

header{
    /* border-bottom: 1px solid #ececec; */
    width: 100%;
    position: fixed;
    top: 0;
    background-color: #fff;
    z-index: 10000;
}

.innerNav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.innerNav > h2{
    margin-left: 4rem;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 700;
}

.hamburger, #toggle{
    display: none;
}

.navRight{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1000px;
}

.navItems{
    border-left: 2px solid #ececec;
    padding-inline: 1rem;
    display: flex;
    gap: 1.3rem;
}

.navItems > a, .tabsLinks > a{
    text-decoration: none;
    color: #000;
    text-transform: capitalize;
    font-size: 12px;
    font-weight: 900;
}

.subscribe{
    border-left: 2px solid #ececec;
}

.subscribe > input{
    padding: .5rem 1.4rem;
    border: none;
}

.subscribe > input::placeholder, .inputCont > input::placeholder{
    color: #bebebea5;
    font-size: 12px;
}

.subscribe > button{
    padding: .7rem 1.4rem;
    border: none;
    background-color: #069275;
    color: #fff;
    font-size: 10px;
}

.tabs{
    border-block: 1.4px solid #ececec;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.inputCont{
    margin-left: 4rem;
    width: 300px;
    display: flex;
    align-items: center;
}

.inputCont > input{
    padding: .5rem .4rem;
    width: 100%;
    border: none;
    outline: none;
    background-color: transparent;
}

.tabsLinks{
    border-inline: 2px solid #ececec;
    padding-left: .6rem;
    display: flex;
    align-items: center;
    gap: 1.3rem;
}

.tabsLinks > a{
    text-transform: uppercase;
    font-size: 8px;
}

.tabsLinks > span{
    border-left: 2px solid #ececec;
    padding: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    /* border: 2px solid orange; */
    border-bottom: 2px solid #ececec;
}
.genLayout{
    max-width: 1100px;
    margin: auto;
    /* border: 2px solid orange; */
}


.generalistBlog{
    margin-block:2rem ;
    /* border: 2px solid orange; */
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 1rem;
    padding-top: 4rem;
    margin-bottom: 5rem;
}

.authorPickCards{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    /* border: 2px solid blue; */
}

.authorCardImg{
    position: relative;
}

.authorCardImg > span{
    background-color: #fff;
    position: absolute;
    top: 0;
    font-size: 12px;
    font-weight: 700;
    padding-inline: 2px;
    text-transform: uppercase;
}

.authorCardImg{
    width: 100%;
    height: 30vh;
}
.authorCardImg > img{
    width: 100%;
    height: 30vh;
    object-fit: cover;
}

.authorContent > h1{
    /* border:  2px solid red; */
    text-transform: capitalize;
    font-size: 17px;
}

.nfGB{
    background-color: #ccefe7;
    color: #39ac8e;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 12px;
}

.authorContent{
    /* border: 2px solid red; */
    text-transform: capitalize;
    font-size: 17px;
}

.latestBanner{
    /* border: 2px solid brown; */
    display: flex;
    flex-direction: column;

}
.imgCont{
    height: 58vh;
    width: 100%;
    position: relative;
    z-index: -1;
}
.imgCont > span{
    background-color: #fff;
    position: absolute;
    top: 0;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700px;
}
.imgCont > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.latestContent{
    border: 1px solid #ececec;
    background-color: #fff;
    max-width: 400px;
    margin: -3rem auto 0;
    padding-inline: .3rem;
    padding-bottom: 1.2rem;
}

.latestContent > h1{
    background-color: #fff;
    text-align: center;
    font-size: 1.96rem;
    text-transform: capitalize;
}

.latestContent > p{
    font-size: 12px;
    font-weight: 800px;
    text-align: center;
    margin-block: .7rem auto;
}

.latestContent > span{
    display: block;
    width: 30px;
    margin: 1rem auto;
}

.mostViewed{
    /* border: 2px solid green; */
}

.mostViewed > h3{
    font-size: 15px;
    font-weight: 800
}

.viewedCard{
    padding-block: 1rem;
    border-bottom: 2px solid #ececec;
}

.viewedCard > h3{
    padding-top: 3px;
    font-size: 16px;
    text-transform: capitalize;
}

.foot{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1100px;
    margin: 2rem auto;
    /* margin-top: 2rem; */
}

.explore{
    font-size: 25px;
    font-weight: 800;
}

.startReading{
    font-size: 12px;
    font-weight: 100;
}

.write , .writeUp{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
    align-items: center;
}

.write > p > span{
    opacity: 4;
    font-weight: -5;
}

.contOne{
    display: flex;
    /* padding-inline: 1rem auto; */
    gap: 3.5rem;
    /* justify-content: space-between; */
    /* max-width: 950px; */
    margin-inline: 70px;
}

.footCont{
    display: flex;
    /* justify-items: center; */
    justify-content: center;
    align-items: center;
    border: 2px solid #ececec;
    /* padding-inline: 1rem auto; */
    padding: 9px 9px;
    background-color: #ececec;
    font-size: 14px;
    font-weight: 700
}

/* Subscription Section */
.subscription-section {
    text-align: left;
    padding: 30px;
    background: #ececec;
    border: 2px solid #ddd; /* Rectangular border */
    border-radius: 3px;
    max-width: 1100px;
    height: 30vh;
    margin: 40px auto;
    /* margin-bottom: 3rem; */
}

.subscription-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.subscription-text {
    max-width: 60%;
}


.subscription-text h2 {
    font-size: 25px;
    margin-bottom: 5px;
}

.subscription-text p {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    color: #000;
}

.subscription-text p >img{
    border-radius: 50%;
    height:20px;
    width: 20px;
    object-fit: cover;
    margin-left:-3px;
}

.subscription-text p > span{
    margin-left: 10px;
    /* font-family: "Lato", sans-serif; */
    /* font-weight: 500; */
    /* font-style: normal; */
    font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.subscription-form {
    display: flex;
    gap: 10px;
}


.subscription-form input {
    padding: 10px;
    border: 1px solid #fff;
    font-size: 14px;
    width: 400px;
    opacity: 4;
}

.subscribe-btn {
    background: #069275;
    color: #fff;
    font-size: 10px;
    font-weight: 400;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    transition: background 0.3s;
    margin-left: -11px;
}

.subscribe-btn:hover {
    background: #069275;
}

@media(min-width: 260px) and (max-width: 420px){
.hamburger{
    display: block;
    font-size: 1.3rem;
}

.innerNav > h2{
    margin-left: 0;
}

.tabs{
    width: 330px;
    margin: auto;
    /* background-color: aqua; */
    flex-direction: column;
}

.inputCont{
    border: 2px solid #fff;
    width: 100%;
    margin-left: 0;
}

.tabsLinks{
    width: 100%;
    gap: .5rem;
}

.tabsLinks> a{
    font-size: 8px;
}

.tabsLinks > span{
    padding-inline: .8rem;
}

.innerNav{
    /* border: 2px solid red; */
    width: 330px;
    margin: auto;
}

.navRight{
    display: none;
    position: absolute;
    width: 340px;
    padding: 1.8rem;
    top: 4.4rem;
    right: 3px;
    z-index: 1;
    background-color: #4d5052;
    opacity: 0.97;
    border-bottom: 4px solid#fff;
    transform: translate(100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

.navItems{
    padding: 0;
    display: flex;
    flex-direction: column;
    border-left: none;
}

.navItems > a{
    width: 100%;
    color: #000;
    font-size: 18px;
    padding: 0.6rem;
    text-align: left;
    border-bottom: 4px solid #fff;
}
.subscribe{
    margin-block: 1rem;
}

#toggle:checked + .navRight{
    display: block;
    transform: none;
}

.generalistBlog{
    grid-template-columns: 1fr;
    gap: 2rem;
    width: 330px;
    padding-top: 6rem;
}

.authorCard{
    box-shadow: .3rem .3rem .3rem rgb(95, 94, 95);
}

/* .subscription-section{
    border: 2px solid blue;
    width: 100%;
    margin: auto;
}

.subscription-container{
    border: 2px solid green;
    width: 100%;
    margin: auto;
}

.subscription-form{
    border: 2px solid orange;
    width: 100%;
    margin: auto;
} */
}